<div class="main_image">
  <p>Image</p>
</div>
<div class="main">
  <div class="mainMenu">
    <div class="mainMenu_contents">
      <div class="mainMenu_list">
        <ul>
          <li>症例募集</li>
          <li>アジア動物</li>
          <li>スキンケア検定</li>
        </ul>
      </div>
    </div>
    <div class="mainMenu_contents">
      <div class="mainMenu_title_box">
        <p class="mainMenu_title">各種サービス</p>
      </div>
      <div class="mainMenu_list">
        <ul>
          <li>ペットPASS</li>
          <li>QIXホームケア</li>
          <li>みるペット</li>
          <li>VET SHIP いつでもPay</li>
          <li>みるPay</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main_contents">
    <div class="ingredient">
      <div class="section_title_box">
        <h2 class="section_title">成分辞典</h2>
      </div>
      <div class="tag_box">
        <ul class="tag_list">
          <li class="tag_item">あ行</li>
          <li class="tag_item">か行</li>
          <li class="tag_item">さ行</li>
          <li class="tag_item">た行</li>
          <li class="tag_item">な行</li>
          <li class="tag_item">は行</li>
          <li class="tag_item">ま行</li>
          <li class="tag_item">や行</li>
          <li class="tag_item">ら行</li>
          <li class="tag_item">わ行</li>
          <li class="tag_item">A-Z</li>
        </ul>
      </div>
      <div class="ingredient_section">
        <div class="ingredient_box">
          <div class="tab_box">
            <p class="tab_list">あ</p>
          </div>
          <div class="ingredient_contents">
            <ul class="ingredient_list">
              <li class="ingredient_item">成分名</li>
              <li class="ingredient_item">成分名</li>
              <li class="ingredient_item">成分名</li>
              <li class="ingredient_item">成分名</li>
              <li class="ingredient_item">成分名</li>
              <li class="ingredient_item">成分名</li>
              <li class="ingredient_item">成分名</li>
              <li class="ingredient_item">成分名</li>
              <li class="ingredient_item">成分名</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












<nav>
  <ul>
    <li>
      <%= link_to "新規会員登録", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
    <li>
      <%= link_to "マイページ(ログインしてない場合はアクセスできません)", mypage_root_path %>
    </li>
  </ul>
</nav>

<hr>
<div>
  <%= link_to "製品一覧へ", products_path %>
</div>
