<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seminar_target.name %>
</p>

<%= link_to 'Edit', edit_seminar_target_path(@seminar_target) %> |
<%= link_to 'Back', seminar_targets_path %>
